.btn {
  width: 100%;
}



.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  top: 0;
  z-index: 999;
  position: fixed;
  width: 100vw;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  max-width: 1500px;
}



.nav-menu {
  display: grid;
  grid-template-columns: repeat(9, auto);
  list-style: none;
  text-align: center;
  width: 100%;
  justify-content: end;
  margin: 0rem;
  padding: 0;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

span {
  position: relative;
  color: #fff;
  text-decoration: none;  
}

span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


span:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}







.navbar-logo {
  padding: 0;
  border: 0;
  margin-top: 0 !important;
  cursor: pointer;
  
  
  width: 200px;
  height: 100px;
  transform: translate(-10%, 30%);
  
}







.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}





@media screen and (max-width: 960px) {
  .NavbarItems {
    position: fixed;
    border: 1px;
    border-bottom: 1px#fff;
  }

  .navbar-container {
    display:flex;
    justify-content: center;
    align-items: center;

  }
  
  
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    position: absolute;
    top: 95px;
    left: -60%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  
  .nav-menu.active {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.9);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  
  .nav-links {
    text-align: initial;
    padding: 2rem;
    padding-left: 2rem;
    width: 100%;
    display: table;
  }
  
  .link-hover:hover {
    background-color: rgb(255, 250, 250);
    color: #1f1414;
    border-radius: 0;
  }

  .nav-links:hover > span {
    color: #1f1414;
  }



  
span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.nav-links-mobile {
  display: block;
  text-align: center;
  margin: 2rem auto;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  padding: 14px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}

.nav-links-mobile:hover {
  background: #fff;
  color: #242424;
  transition: 250ms;
}





.nav-item:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
 




  

  .navbar-img {
    position:static;
    padding: 0;
    border: 0;
    transform: translate(-10%);
  }
  .navbar-logo {
    
    padding: 0;
    border: 0;
    transform: translate(-10%);
  }








  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-150%, 50%);
    font-size: 2rem;
    cursor: pointer;
    margin: 0;
  }




  .fa-times {
    color: #fff;
    font-size: 2rem;
  }
}


@media screen and (max-width: 400px){


  .menu-icon {
   
    transform: translate(-80%, 80%);
    font-size: 1.5rem;
    
  }

  .navbar-img{
    
    max-width: 200px;
    max-height: 200px;
    min-width: 200;
    
  }

}

