* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

body{
  background-color:#EABFB0;
}
z
  
  :root {
    font-size: 60%;
    --primary: #2366bd;
    --primary-lighter: #2A7AE4;
    --primary-light: #2e89ff;
    --color-primary-dark: #194680;
    --color-primary-darker: #112a4b;
    --black: #000000;
    --blackLighter: #9E9E9E;
    --grayLight: #F5F5F5;
    --grayMedium: #e5e5e5; 
    --white: #FFFFFF;
    --frontEnd: #6BD1FF;
    --backEnd: #00C86F;
    --color-background: #F0F0F7;
    --color-secundary: #04D361;
    --color-secundary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #a1baff;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
  }
  
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: inherit;
  } 
  
  
  
  body, input, button, textarea, select {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--color-text-base);
  }
  
  .container {
    width: 90vw;
    max-width: 700px;
  }
  
  @media(min-width) {
    :root {
        font-size: 62.5%;
    }
  }
  
  
  